@model LoginViewModel

@if (TempData["mensaje"] != null) {
    <div class="alert alert-success">
        @TempData["mensaje"]
    </div>
}
<div class="container-fluid" style="background-image: url(https://wallpaperplay.com/walls/full/3/5/2/219191.jpg)">
<h1 class="text-center">Iniciar sesión</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Correo"></label>
        <input asp-for="Correo" class="form-control" placeholder="Correo Electronico">
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Contraseña">
    </div>
    
    <button class="form-control btn btn-primary">Iniciar sesión</button>
</form>
</div>