@model LoginViewModel

@if (TempData["mensaje"] != null) {
    <div class="alert alert-success">
        @TempData["mensaje"]
    </div>
}
<div class="container-fluid img-fluid fondo" style="background: url(https://images.pexels.com/photos/1097456/pexels-photo-1097456.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
<h1 class="text-center mt-4">Iniciar sesión</h1>

<form method="post" class="mt-5">
    <div asp-validation-summary="All"></div>

    <div class="form-group p-2">
        <label asp-for="Correo"></label>
        <input asp-for="Correo" class="form-control" placeholder="Correo Electronico">
    </div>

    <div class="form-group p-2">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Contraseña">
    </div>
    
    <button class="form-control btn btn-primary">Iniciar sesión</button>
</form>
</div>