<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Mongo Imports</title>
    

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.css" />
</head>
<body>
    <div class="container" >
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#001f3f">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">MongoImports<i class="fab fa-centos"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav menu">                  
                        <li class="nav-item active">
                        <a class="nav-link" asp-controller="Producto" asp-action="Index"><i class="fas fa-store-alt"></i>Productos</a>
                        </li>
                        <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search"></i>Categorías
                        </a>                       
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Producto" asp-route-id=1 asp-action="VerCategoria">CPU</a>
                            <a class="dropdown-item"  asp-controller="Producto"asp-route-id=2 asp-action="VerCategoria">Pantallas</a>
                            <a class="dropdown-item" asp-controller="Producto" asp-route-id=3 asp-action="VerCategoria">Audífonos</a>
                            <a class="dropdown-item"  asp-controller="Producto"asp-route-id=4 asp-action="VerCategoria">Celulares</a>
                            <a class="dropdown-item"  asp-controller="Producto"asp-route-id=5 asp-action="VerCategoria">Periféricos</a>
                            
                        </div>

                        </li>
                    @if (!User.Identity.IsAuthenticated) {
                        <li class="nav-item active">
                         <a class="nav-link" asp-controller="Cuenta" asp-action="Login"><i class="fas fa-sign-in-alt"></i>Iniciar Sesión</a>
                        </li>
                        <li class="nav-item active">
                         <a class="nav-link" asp-controller="Cuenta" asp-action="CrearCuenta"><i class="fas fa-user-edit"></i>Regístrate</a>
                        </li>
                     }else{
                         <li class="nav-item active">
                        <a class="nav-link" ><i class="fas fa-user"></i>@User.Identity.Name<span class="sr-only">(current)</span></a>
                         </li>

                        <li class="nav-item active">
                         <a class="nav-link" asp-controller="Cuenta" asp-action="Logout"><i class="fas fa-sign-out-alt"></i>Cerrar Sesión</a>
                        </li>
                    }

                </ul>
            </div>
        </nav>        
    </div>
    
    <div class="container">
        @if (User.IsInRole("admin")){
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger menu2">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Roles" asp-action="CrearRol">Crear Rol</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Roles" asp-action="AsociarRol">Asociar Rol</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Producto" asp-action="AgregarProd">Agregar Productos</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" asp-controller="Producto" asp-action="QuitarProd">Quitar Productos</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" asp-controller="Producto" asp-action="AgregarProm">Agregar una Promocion/Descuento</a>
                </li>                         
        </nav>        
        }
    </div>
    
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--Inicio de Footer-->
<footer class="page-footer font-small blue pt-4 border-top footer text-muted text-center">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Ubicanos aqui<i class="fas fa-map-marker-alt"></i></h5>
         <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.9867420957794!2d-77.05305220022188!3d-12.113059491381074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c83421b69bab%3A0xe99ad15a31c97b96!2sCosta%20Verde!5e0!3m2!1ses-419!2spe!4v1574094934408!5m2!1ses-419!2spe" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
         </div>
  
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">contactanos</h5>
          <ul class="list-unstyled">
            <li>
              <a href="https://www.whatsapp.com"  target="_blank"><i class="fab fa-whatsapp"></i>+51 999999999</a>
            </li>
            <li>
              <a href="https://www.instagram.com"  target="_blank"><i class="fab fa-instagram"></i>MongoImportIG</a>
            </li>
            <li>
                <a href="https://www.facebook.com"  target="_blank"><i class="fab fa-facebook"></i>Mongo Imports</a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=-BxfE7i2H2I"  target="_blank"><i class="fab fa-youtube"></i>MongoImportsYT</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">paga con</h5>
          <ul class="list-unstyled">
            <li>
                <i class="fab fa-apple-pay"></i>
            </li>
            <li>
                <i class="fab fa-cc-amex"></i>
            </li>
            <li>
                <i class="fab fa-cc-diners-club"></i>
            </li>
            <li>
                <i class="fab fa-cc-mastercard"></i>
            </li>
            <li>
                <i class="fab fa-cc-paypal"></i>
            </li>
            <li>
                <i class="fab fa-cc-visa"></i>
            </li>
            <li>
                <i class="fab fa-bitcoin"></i>
            </li>
          </ul> 
        </div>
      </div>
    </div>
    <div class="container">
        &copy; 2019 - MongoImports - <a href="" data-toggle="modal" data-target="#modal1">Terminos y condiciones</a>
        <div class="modal fade" id="modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title">Términos y Condiciones</h5>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea readonly id="" cols="50" rows="5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi sunt odio laborum, doloribus provident quia nemo culpa, soluta, a quibusdam quam? Harum fugit nostrum reprehenderit eos quod possimus animi molestiae.</textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dissmis="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
    <!--Fin de Footer-->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
