<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Mongo Imports</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">MongoImports</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    
                    
                         <li class="nav-item active">
                        <a class="nav-link" >Página Inicial<span class="sr-only">(current)</span></a>
                         </li>
                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Producto" asp-action="Index">Productos</a>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categorías
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">CPU</a>
                            <a class="dropdown-item" href="#">Pantallas</a>
                            <a class="dropdown-item" href="#">Celulares</a>
                            <a class="dropdown-item" href="#">Audífonos</a>
                            <a class="dropdown-item" href="#">Periféricos</a>
                        </div>
                        </li>
                    @if (!User.Identity.IsAuthenticated) {
                        <li class="nav-item">
                         <a class="nav-link" asp-controller="Cuenta" asp-action="Login">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                         <a class="nav-link" asp-controller="Cuenta" asp-action="CrearCuenta">Regístrate</a>
                        </li>
                     }
                     else{
                         @if (User.IsInRole("admin")) {
                              <li class="nav-item">
                        <a class="nav-link" asp-controller="Roles" asp-action="CrearRol">Crear Rol</a>
                        </li>

                         <li class="nav-item">
                        <a class="nav-link" asp-controller="Roles" asp-action="AsociarRol">Asociar Rol</a>
                        </li> 
                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Producto" asp-action="AgregarProd">Agregar Productos</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Producto" asp-action="QuitarProd">Quitar Productos</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Producto" asp-action="PromoProd">Agregar una Promocion/Descuento</a>
                        </li>                          
                        }
                         <li class="nav-item active">
                        <a class="nav-link" >@User.Identity.Name<span class="sr-only">(current)</span></a>
                         </li>

                        <li class="nav-item">
                         <a class="nav-link" asp-controller="Cuenta" asp-action="Logout">Cerrar Sesión</a>
                        </li>
                     }

                </ul>
            </div>
        </nav>        
    </div>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--Inicio de Footer-->
    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2019 - MongoImports - <a href="#modal" id="show-modal">Terminos y condiciones</a>

    <aside id="modal" class="modal">
        <div class="content-modal">
            <header>
                <a href="#" class="close-modal">X</a>
                <h2>Terminos y condiciones</h2>
            </header>
            <article>
                <textarea readonly name="" id="" cols="65"
                    rows="22">Términos y Condiciones de Uso 
INFORMACIÓN RELEVANTE
Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todas los productos  que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para adquirir un producto, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.
El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos. MongoImports.pe no asume la responsabilidad en caso de que entregue dicha clave a terceros.
Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto, validación de la forma de pago, validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por medio de correo electrónico.
Los precios de los productos ofrecidos en esta Tienda Online es válido solamente en las compras realizadas en este sitio web.
LICENCIA
Mongo Imports  a través de su sitio web concede una licencia para que los usuarios utilicen  los productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en este documento.
USO NO AUTORIZADO
En caso de que aplique (para venta de software, templetes, u otro producto de diseño y programación) usted no puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, sitio web o ningún otro medio y ofrecerlos para la redistribución o la reventa de ningún tipo.
PROPIEDAD
Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin modificar. Todos los productos son propiedad  de los proveedores del contenido. En caso de que no se especifique lo contrario, nuestros productos se proporcionan  sin ningún tipo de garantía, expresa o implícita. En ningún esta compañía será  responsables de ningún daño incluyendo, pero no limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de la imposibilidad de utilizar nuestros productos.
POLÍTICA DE REEMBOLSO Y GARANTÍA
En el caso de productos que sean  mercancías irrevocables no-tangibles, no realizamos reembolsos después de que se envíe el producto, usted tiene la responsabilidad de entender antes de comprarlo.  Le pedimos que lea cuidadosamente antes de comprarlo. Hacemos solamente excepciones con esta regla cuando la descripción no se ajusta al producto. Hay algunos productos que pudieran tener garantía y posibilidad de reembolso pero este será especificado al comprar el producto. En tales casos la garantía solo cubrirá fallas de fábrica y sólo se hará efectiva cuando el producto se haya usado correctamente. La garantía no cubre averías o daños ocasionados por uso indebido. Los términos de la garantía están asociados a fallas de fabricación y funcionamiento en condiciones normales de los productos y sólo se harán efectivos estos términos si el equipo ha sido usado correctamente. Esto incluye:
– De acuerdo a las especificaciones técnicas indicadas para cada producto.
– En condiciones ambientales acorde con las especificaciones indicadas por el fabricante.
– En uso específico para la función con que fue diseñado de fábrica.
– En condiciones de operación eléctricas acorde con las especificaciones y tolerancias indicadas.
COMPROBACIÓN ANTIFRAUDE
La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por más tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas.
PRIVACIDAD
Este sitio web MongoImports.pe garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.
La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al momento de crear su cuenta.
Mongo Imports reserva los derechos de cambiar o de modificar estos términos sin previo aviso.</textarea>
            </article>
        </div>
        <a href="#" class="btn-close-modal"></a>
    </aside>
    
        </div>
    </footer>
    <!--Fin de Footer-->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
function openDialog() {
    $('#overlay').fadeIn('fast', function() {
        $('#popup').css('display','block');
        $('#popup').animate({'left':'30%'},500);
    });
}
 
function closeDialog(id) {
    $('#'+id).css('position','absolute');
    $('#'+id).animate({'left':'-100%'}, 500, function() {
        $('#'+id).css('position','fixed');
        $('#'+id).css('left','100%');
        $('#overlay').fadeOut('fast');
    });
}
</script>

    @RenderSection("Scripts", required: false)
</body>
</html>
