<h1>Agrega una Promoción</h1>
<form method="post">
    <div class="form-group">
        Promocion(URL de imagen): <input type="text" class="form-control">
    </div>
    <button class="btn btn-primary">Guardar</button>
</form>