@model List<Productos>


    <h1>ProductosGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</h1>
    @if (Model.Count == 0) {
        <p>No hay productos en stock</p>
    }

    <ul class="list">
    @foreach (var item in Model)
    {
        <li>@item.Foto</li>
        <li>@item.Nombre</li>

    }
    </ul>