@model Productos
<div class="alert alert-primary" role="alert">
  Compra realizada con éxito :) 
</div>
<p>Usted ha comprado: @Model.Nombre</p>
<p>Precio: @Model.PrecioUnit</p>
<p><img src="@Model.Foto"></p>