/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.carousel-inner img{
  width: 360px;
  height: 600px;
}
.carrusel{
  height: 800px;
}

/*Estilos del popup de Terminos y condiciones*/
body{
  position: relative;
  text-align: center;
}

.container #show-modal{
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.15s linear;
}

.container #show-modal:hover{
  cursor: pointer;
}
.container .modal{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 99999999;
  background: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.container .modal .content-modal{
  width: 100%;
  max-width: 500px;
  position: fixed;
  left: 50%;
  top: -100vh;
  transition: top 0.35s ease;
  margin-left: -250px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  z-index: 9999999;
}

.container .modal h2{
  padding: 0.5em;
  text-align: center;
  color: #444444;
  margin: 0;
}

.container .modal article{
  height: 350px;
  background: #bc651a;
}

.container .close-modal{
  color: #e74c3c;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

.container .modal a:hover{
  color: #c0392b;
}

.container .modal:target{
  opacity: 1;
  top: 0;
}

.container .modal .btn-close-modal{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999991;
}

.container .modal:target .content-modal{
  top: 50px;
  transition: top 0.35s ease;
}

.container textarea{
  text-align: center;
}